<html>

  <title> Admin tools for idiots </title>
  
<!--
  <link href="/javascripts/jquery-ui/jquery-ui.structure.min.cs" rel="stylesheet">

  <link href="/javascripts/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet">
-->



 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/ui-darkness/jquery-ui.min.css" rel="stylesheet">  


  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

<style>
    .loading {
      display: none;
      width: 16px;
      height: 16px;
      background-image: url(loading.gif);
      vertical-align: text-bottom;
    }
    /* autocomplete adds the ui-autocomplete-loading class to the textbox when it is _busy_, use general sibling combinator ingeniously */
    #autocomplete.ui-autocomplete-loading ~ .loading {
      display: inline-block;
    }
    .ui-autocomplete .knows {
      margin-right: 1em;
      font-size: larger;
      color: white;
    }

ul.ui-autocomplete
{
    
    top: 0px!important;
    right: 0!important;
    width: 29%!important;
    
}


.ui-menu {
  margin: 0;
}

.ui-widget {
  font-size: 0.9em;

}

.ui-autocomplete {
  cursor: default;
  position: fixed;
  left: 70%!important;
}


div.editable {
    width: 70%;
    height: 90%;
    border: 1px solid #ccc;
    padding: 5px;
}

    .knows {
      margin-right: 1em;
      font-size: larger;
      font-color: white!important;
    }

    .autocomplete-element {

      table-layout: fixed;
    }

    .pics {
      width: 75px;
      
    }

   
  </style>

 
 <script type="text/javascript">
 
 
   function check(){
        var t = $("#correct").val().toString();
        var u = $("#verify").val().toString();
        $.get( "/validate_request", JSON.stringify({ "original_request": t, "compare_to": u })).done(function( data ) { 
            $("#result").html(data);  
          });
   }
 

 function setCursorToEnd(ele)
  {
    var range = document.createRange();
    var sel = window.getSelection();
    range.setStart(ele, 1);
    range.collapse(true);
    sel.removeAllRanges();
    sel.addRange(range);
    ele.focus();
  }

  $("#autocomplete").putCursorAtEnd = function() {

  return this.each(function() {

    $(this).focus()

    // If this function exists...
    if (this.setSelectionRange) {
      // ... then use it (Doesn't work in IE)

      // Double the length because Opera is inconsistent about whether a carriage return is one character or two. Sigh.
      var len = $(this).val().length * 2;

      this.setSelectionRange(len, len);
    
    } else {
    // ... otherwise replace the contents with itself
    // (Doesn't work in Google Chrome)

      $(this).val($(this).val());
      
    }

    // Scroll to the bottom, in case we're in a tall textarea
    // (Necessary for Firefox and Google Chrome)
    this.scrollTop = 999999;

  });

};   
    


   $(document).ready(function(){
   
   
   


      $('#autocomplete').each(function(){
        this.contentEditable = true;
      });


       var parsecall = function(){        
   
        $.post( "/parse", { ticket: $("#autocomplete").text().toString() }).done(function( data ) {       
             //alert(JSON.stringify(data));
            $("#autocomplete").html(JSON.stringify(data));
          });
        
       }




   //   $("#autocomplete").on('change keyup paste', function() {
   //      parsecall();           
   //   });






     $("#autocomplete").autocomplete({
        delay: 500,
        minLength: 2,
        source: function(request, response) {       
          var separate_current_paragraphs = request.term.split("<br/>");
         // latest_words = separate_current_paragraphs[separate_current_paragraphs.length - 1].toString().split(" ");
          //latest_words_as_string = (latest_words[latest_words.length-1] + " " + latest_words[latest_words.length-2]);                
          var last_paragraph = separate_current_paragraphs[separate_current_paragraphs.length - 1].toString();
          
          //parsecall();

          $.getJSON("/suggest_me", {                  
            
            q: last_paragraph
           //q: request.term
          }, function(data) {
            // data is an array of objects and must be transformed for autocomplete to use
            var array = data.error ? [] : $.map(data.suggestions, function(m) {
              return {
                q: m.q,
                mr: m.mr,
                knows: m.knows,
                for_: m.for,
                and_these_guys_agree: m.and_these_guys_agreee
                
              };
            });
            response(array);
          });
        },
        focus: function(event, ui) {
          // prevent autocomplete from updating the textbox
          event.preventDefault();
        },
        search: function(event,ui){
          //parsecall();

        },
        select: function(event, ui) {

          // prevent autocomplete from updating the textbox
          //event.preventDefault();
          

          //alert(JSON.stringify(event));
          //alert(JSON.stringify(ui));
               

          // the .replace below needs to work only in the last matched typed string, not the previous ones

          var updated_text_content = $("#autocomplete").text().substring(0,$("#autocomplete").text().lastIndexOf(ui.item.q)) + "<br/>" ;



          //$("#autocomplete").val($("#autocomplete").val().replace(ui.item.q,'') + '\r\n' + ui.item.knows);
          
          var ticket_text = updated_text_content + ui.item.knows;
          ticket = ticket_text;
          
          
          $("#autocomplete").html(ticket.toString());
         
          

          $("#autocomplete").putCursorAtEnd();

          // navigate to the selected item's url
          //window.open(ui.item.url);
        }
      }).data("ui-autocomplete")._renderItem = function(ul, item) {
        var $a = $("<a></a>");
        

        var text_to_highlight = item.q.toString();
        var text_highlighted = item.knows.replace(text_to_highlight,("<label style=\"color: yellow!important;\">" + text_to_highlight + "</label>"));

        var markup = "<table class=\"autocomplete-element \"width=\"100%\"><tr><td><span class=\"knows\">" + text_highlighted + "</span></td><td class=\"pics\" align=\"right\"><img src=\"" + item.mr.toString() + "\"/></td></tr></table>";


        $a.append(markup);
      
        return $("<li></li>").append($a).appendTo(ul);
      };









     });
 

 //http://www.marcofolio.net/webdesign/a_fancy_apple.com-style_search_suggestion.html
 
 </script>
 










  <body>


  <div>
    <label>Edit your ticket answer</label><br/>
    <!--<textarea id="autocomplete" name="answereditor" cols="120" rows="40"></textarea>-->

    <div id="autocomplete" name="answereditor" class="editable"></div>
    <!--<input type="text" id="autocomplete" name="country"/>-->

    





  </div>

<br/>
<br/>
<br/>



   <div align="left">
    <textarea id="tag" name="tag" cols="80" rows="10"></textarea>
    <br/>
    <label> Easier ticket browsing... </label>
    <div id="output">
    
    
    </div>

   </div>
<br/>
<br/>
<br/>



    <form action="/learn" method="post" enctype="multipart/form-data">
      <label>Upload your ticket database (Text only)</label>
      <input name="learnfile" type="file"/>
      <input type="submit" />
    </form>


<br/>
   <div align="left">
     <label> Input minimum request example </label>
     <textarea id="correct" name="correct" cols="40" rows="10"></textarea>
     
     <label> Input request to compare </label>
     <textarea id="verify" name="verify" cols="40" rows="10"></textarea>
     
     <button id="check" onclick="check();" name="check">CHECK!</button>
     
      <label id="result"> </label>
   </div>

<br/>
 


  <div align="left">


    <form action="/mts-database-download"> 
      <label>From date (not below 06-01-02)</label>
      <input name="fromdate"/>
      <label>Today (no further today YY-MM-DD format)</label>
      <input name="todate"/>
      <input type="submit"/>
    </form>


  </div>




 





  </body>


</html>
