<table class="autocomplete-element" width="100%">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <%= data[0] %>
          </td>
        </tr>
        <tr>
          <td>
            <%= data[1] %>
          </td>
        </tr>
      </table>
    </td> 
    <td>
      <span class="knows">
        <%= data[2] %>
      </span>
    </td>
    <td class="pics" align="right">
      <img src="http://myhub.corp.ebay.com/User%20Photos/Profile%20Pictures/_w/corp_<%= data[3] %>_LThumb_jpg.jpg"/>
    </td>
  </tr>
</table>